<header id="site-header" class="site-header__v2 site-header__white-text">
    <div class="masthead">
        <div class="bg-secondary-gray-800">
            <div class="container pt-3 pt-md-4 pb-3 pb-md-5">
                <div class="d-flex align-items-center position-relative flex-wrap">
                    <!-- Menu -->
                    <div class="offcanvas-toggler mr-4">
                        <a id="sidebarNavToggler2" href="javascript:;" role="button" class="cat-menu"
                        aria-controls="sidebarContent2"
                        aria-haspopup="true"
                        aria-expanded="false"
                        data-unfold-event="click"
                        data-unfold-hide-on-scroll="false"
                        data-unfold-target="#sidebarContent2"
                        data-unfold-type="css-animation"
                        data-unfold-overlay='{
                            "className": "u-sidebar-bg-overlay",
                            "background": "rgba(0, 0, 0, .7)",
                            "animationSpeed": 100
                        }'
                        data-unfold-animation-in="fadeInLeft"
                        data-unfold-animation-out="fadeOutLeft"
                        data-unfold-duration="100">
                            <svg width="20px" height="18px">
                                <path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M-0.000,-0.000 L20.000,-0.000 L20.000,2.000 L-0.000,2.000 L-0.000,-0.000 Z"/>
                                <path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M-0.000,8.000 L15.000,8.000 L15.000,10.000 L-0.000,10.000 L-0.000,8.000 Z"/>
                                <path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M-0.000,16.000 L20.000,16.000 L20.000,18.000 L-0.000,18.000 L-0.000,16.000 Z"/>
                            </svg>
                        </a>
                    </div>
                    <!-- Logo -->
                    <div class="d-flex align-items-center position-relative flex-wrap">
                        <a href="index.html" class="mr-2">Book Store</a>
                    </div>
                    <!-- Search -->
                    <div class="ml-xl-0 ml-md-auto w-r-100 flex-grow-1 mr-md-5 mt-2 mt-md-0 order-1 order-md-0">
                        <ul class="nav">
                            <!-- Home -->
                            <li class="nav-item"><a href="#" class="nav-link link-black-100 mx-3 px-0 py-3 font-size-2 font-weight-medium">Anasayfa</a></li>
                            <li class="nav-item dropdown">
                                <a id="shopDropdownInvoker" href="#" class="dropdown-toggle nav-link link-black-100 mx-3 px-0 py-3 font-size-2 font-weight-medium d-flex align-items-center"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                    data-unfold-event="hover"
                                    data-unfold-target="#shopDropdownMenu"
                                    data-unfold-type="css-animation"
                                    data-unfold-duration="200"
                                    data-unfold-delay="50"
                                    data-unfold-hide-on-scroll="true"
                                    data-unfold-animation-in="slideInUp"
                                    data-unfold-animation-out="fadeOut">
                                    Sayfalar
                                </a>
                                <ul id="shopDropdownMenu" class="dropdown-unfold dropdown-menu font-size-2 rounded-0 border-gray-900" aria-labelledby="shopDropdownInvoker">
                                    <li><a routerLink="shop-list" class="dropdown-item link-black-100">Ürünler</a></li>
                                    <li><a routerLink="cart"  class="dropdown-item link-black-100">Sepetim</a></li>
                                    <li><a routerLink="my-account" class="dropdown-item link-black-100">Hesabım</a></li>
                                </ul>
                            </li>
                            <!-- OTHERS NAVBAR -->
                            <li class="nav-item dropdown">
                                <a id="pagesDropdownInvoker" href="#" class="dropdown-toggle nav-link link-black-100 mx-3 px-0 py-3 font-size-2 font-weight-medium d-flex align-items-center"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                    data-unfold-event="hover"
                                    data-unfold-target="#pagesDropdownMenu"
                                    data-unfold-type="css-animation"
                                    data-unfold-duration="200"
                                    data-unfold-delay="50"
                                    data-unfold-hide-on-scroll="true"
                                    data-unfold-animation-in="slideInUp"
                                    data-unfold-animation-out="fadeOut">
                                    Diğerleri
                                </a>
                                <ul id="pagesDropdownMenu" class="dropdown-unfold dropdown-menu font-size-2 rounded-0 border-gray-900" aria-labelledby="pagesDropdownInvoker">
                                    <li><a routerLink="about" class="dropdown-item link-black-100">About Us</a></li>
                                    <li><a routerLink="contact" class="dropdown-item link-black-100">Contact Us</a></li>
                                    <li><a routerLink="term-conditions" class="dropdown-item link-black-100">Terms Conditions</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="d-flex align-items-center">
                        <!-- Account Sidebar Toggle Button -->
                        <div *ngIf="!auth.login">
                            <a id="sidebarNavToggler" href="javascript:;" role="button"
                            aria-controls="sidebarContent"
                            aria-haspopup="true"
                            aria-expanded="false"
                            data-unfold-event="click"
                            data-unfold-hide-on-scroll="false"
                            data-unfold-target="#sidebarContent"
                            data-unfold-type="css-animation"
                            data-unfold-overlay='{
                                "className": "u-sidebar-bg-overlay",
                                "background": "rgba(0, 0, 0, .7)",
                                "animationSpeed": 500
                            }'
                            data-unfold-animation-in="fadeInRight"
                            data-unfold-animation-out="fadeOutRight"
                            data-unfold-duration="500">
                            <div class="d-flex align-items-center text-white font-size-2 text-lh-sm">
                                <i class="flaticon-user font-size-5"></i>
                                <div class="ml-2 d-none d-lg-block">
                                    <span class="text-secondary-gray-1080 font-size-1">Giriş Yap</span>
                                </div>
                            </div>
                        </a>
                        </div>
                        <div *ngIf="auth.login">   <a>
                            <div class="iml d-flex align-items-center text-white font-size-2 text-lh-sm">
                                <i class="flaticon-user font-size-5"></i>
                                <div class="ml-2 d-none d-lg-block">
                                    <span (click)="logout()" class="text-secondary-gray-1080 font-size-1">Çıkış Yap</span>
                                </div>
                            </div>
                        </a></div>
                       
                        
                        <!-- End Account Sidebar Toggle Button -->

                        <!-- Cart Sidebar Toggle Button -->
                        <a id="sidebarNavToggler1" href="javascript:;" role="button" class="ml-4 d-none d-lg-block"
                            aria-controls="sidebarContent1"
                            aria-haspopup="true"
                            aria-expanded="false"
                            data-unfold-event="click"
                            data-unfold-hide-on-scroll="false"
                            data-unfold-target="#sidebarContent1"
                            data-unfold-type="css-animation"
                            data-unfold-overlay='{
                                "className": "u-sidebar-bg-overlay",
                                "background": "rgba(0, 0, 0, .7)",
                                "animationSpeed": 500
                            }'
                            data-unfold-animation-in="fadeInRight"
                            data-unfold-animation-out="fadeOutRight"
                            data-unfold-duration="500">
                            <div class="d-flex align-items-center text-white font-size-2 text-lh-sm position-relative">
                                <span class="position-absolute bg-white width-16 height-16 rounded-circle d-flex align-items-center justify-content-center text-dark font-size-n9 left-0 top-0 ml-n2 mt-n1">{{shop.shoppingCarts.length || 0}}</span>
                                <i class="flaticon-icon-126515 font-size-5"></i>
                                <div class="ml-2">
                                    <span class="text-secondary-gray-1080 font-size-1">Sepetim</span>
                                  <!-- <div class="">$40.93</div> -->
                                </div>
                            </div>
                        </a>
                        <!-- End Cart Sidebar Toggle Button -->
                    </div>
                </div>
            </div>
        </div>

   
    </div>
</header>
